.hero{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
.hero:before{
    content: '';
    background: url('../assets/hero-img(2).jpg') no-repeat center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}
.hero h1{
    font-size: 3.5rem;
}
.hero .search-text{
    margin: 1.4rem;
    font-size: 1.3rem;
}
.search{
    display: flex;
    background-color: aliceblue;
    color: black;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
}
.search input[type = text]{
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: 'poppins ';
}
.search input[type = text]:focus{
    outline:none;
}
.search label{
    padding:0 14px 0 8px;
}
.search .radio{
     display: flex;
     align-items: center;
}
.search button{
    background-image: linear-gradient(45deg, #5651e5,#709dff);
    border: 1px solid #5651e5;
    columns: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(18, 3, 72), 0 0 20px rgb(11, 4, 58), 0 0 30px #350a74, 0 0 40px #240660, 0 0 50px #21075e, 0 0 60px #17043c, 0 0 70px #2c0951;
    }
    
    to {
      text-shadow: 0 0 20px rgb(109, 59, 208), 0 0 30px #8319d4, 0 0 40px #6532dd, 0 0 50px #592fe1, 0 0 60px #381d7a, 0 0 70px #8331dc, 0 0 80px #2c157e;
    }
  }
@media screen and (max-width:940px){
    .hero{
        height: 70vh;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .search input[type = text]{
        width: 100%;
    }
}