.navbar{
    width: 100%;
    height: 90px;
    background-color: aliceblue;
} 
.container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar span{
    color: #5651e5;
}
.nav-menu{
    display: flex;
}
li{
    padding: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}
li:hover{
    color: rgb(68, 30, 236);
}
.hamburger{
    display: none;
}
/* Adding the Media Query  */

@media screen and (max-width: 728px) {
    .hamburger{
        display: block;
    }
    .navbar span{
        color: #5651e5;
        font-size: 1.4rem;
    }
    .navbar .nav-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        right: -100%;
        height: 100%;
        width: 100%;
        background: rgb(206, 216, 225);
        transition: 0.4s ease-in-out;
        z-index: 10;
    }
    .navbar .active{
        right: 0;
    }
    .icons{
        font-size: 1.3rem;
    }
    .navbar .nav-menu li{
        font-size: 2rem;
    }

}
